[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "RFExcel"
version = "0.0.1"
requires-python = ">=3.13"
dependencies = []

where = ["src"]
include = ["*"]
namespaces = false

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]